jxRequirements:
  ingress:
    namespaceSubDomain: "-pr{{ requiredEnv "PULL_NUMBER" }}."

image:
  repository: "{{ requiredEnv "DOCKER_REGISTRY" }}/{{ requiredEnv "DOCKER_REGISTRY_ORG" }}/{{ requiredEnv "APP_NAME" }}"
  tag: "{{ requiredEnv "VERSION" }}"
  pullPolicy: "Always"

brand:
  default:
    tag: 1.16.0
    ios:
      password: "Dresd3Ka-uBe!"
      key_file: "dkv-push.pem"
      max_concurrent_pushes: 100
    android:
      api_key: "AAAA4SKa3Qo:APA91bFTRMA4mOpaNcLRfXEDMBRtqUmfHty9R0zBH7wLVygwbxs3fsIMwIqyULRziLyIteF9m0ITbM4x9Cs7Jez18nVplffs65kbwDjwDYNgSl0hjAos79MBh9grIV7CP29XlkHlU5Eb"
    vapid:
      publicKey: "BMw9F4_j9GwdbdtJhjNtG1FMnroo3eQkXhCkQQZ6t84UN45vRaW8GF-KJl8VwUl5xGOxU3FeG59r-rppBtVrhOA"
      privateKey: "bu8A3XDLXeaYcRbdFfQ2tST57oS3DAkCCCcVPzgBmic"
  qcplus:
    ios:
      key_type: "p8"
      password: ""
      key_file: false
      key_base64: "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR1RBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJIa3dkd0lCQVFRZ2JRRnlLbEwwdWtRWWZZRTQKUWlGMHU3bHpVUVppR1FMV2F0dmhTa0N1M1FlZ0NnWUlLb1pJemowREFRZWhSQU5DQUFURGx5OHU1a0krS3VyYQo1cDVQVjMrbjBteWxob3BGdHBtYUEzM0NzbUpUNWdlV0Zib1Jsa09hMCt3alRZN09UczFLaGFobGZ3WU1HN1pICm5IK3BSOEJnCi0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0="
      key_id: "24W63W6628"
      team_id: "532AGUYBAJ"
      production: "true"
    android:
      key_file: "dkv-push-firebase-v2.json"
    vapid:
      publicKey: "BMw9F4_j9GwdbdtJhjNtG1FMnroo3eQkXhCkQQZ6t84UN45vRaW8GF-KJl8VwUl5xGOxU3FeG59r-rppBtVrhOA"
      privateKey: "bu8A3XDLXeaYcRbdFfQ2tST57oS3DAkCCCcVPzgBmic"