jxRequirements:
  ingress:
    namespaceSubDomain: "-pr{{ requiredEnv "PULL_NUMBER" }}."

image:
  repository: "{{ requiredEnv "DOCKER_REGISTRY" }}/{{ requiredEnv "DOCKER_REGISTRY_ORG" }}/{{ requiredEnv "APP_NAME" }}"
  tag: "{{ requiredEnv "VERSION" }}"
  pullPolicy: "Always"

brand:
  default:
    tag: 1.16.0
    ios:
      password: "Dresd3Ka-uBe!"
      key_file: "dkv-push.pem"
      max_concurrent_pushes: 100
    android:
      api_key: "AAAA4SKa3Qo:APA91bFTRMA4mOpaNcLRfXEDMBRtqUmfHty9R0zBH7wLVygwbxs3fsIMwIqyULRziLyIteF9m0ITbM4x9Cs7Jez18nVplffs65kbwDjwDYNgSl0hjAos79MBh9grIV7CP29XlkHlU5Eb"
    vapid:
      publicKey: "BMw9F4_j9GwdbdtJhjNtG1FMnroo3eQkXhCkQQZ6t84UN45vRaW8GF-KJl8VwUl5xGOxU3FeG59r-rppBtVrhOA"
      privateKey: "bu8A3XDLXeaYcRbdFfQ2tST57oS3DAkCCCcVPzgBmic"            
  qcplus:
    ios:
      key_type: "p12"
      password: "talentomobile"
      key_file: "dkv-push-qcplus-preprod-push.p12"
      production: false
      max_concurrent_pushes: 100
    android:
      key_file: "gorush-certs-dkv-push-firebase-v2.json"
    vapid:
      publicKey: "BMw9F4_j9GwdbdtJhjNtG1FMnroo3eQkXhCkQQZ6t84UN45vRaW8GF-KJl8VwUl5xGOxU3FeG59r-rppBtVrhOA"
      privateKey: "bu8A3XDLXeaYcRbdFfQ2tST57oS3DAkCCCcVPzgBmic"